.parentDiv {
    background-color: rgb(14, 24, 48);   
    height: 45vh;
    width: 93.3vw;
    margin:  0 auto;
    left:33pt;
    top:-12pt;
    box-shadow: 0 5px 5px rgb(11, 37, 59);
    position: absolute;
    z-index:1;
}

.displayPic {
    float: left;  
    padding-right: 10pt;
    padding-left: 20pt;
    margin-right: 20pt;
    margin-left: 20pt;
    padding-bottom: 10pt;
    background-color: rgb(5, 16, 44);
    box-shadow: 0 4px 4px  rgb(1, 10, 32);
    position: relative;
}

.picture {
    height:100pt;
    width: 100pt;
    margin-top: 20pt;
    margin-bottom: 10pt;
    padding: 10pt 10pt 10pt 10pt;
    vertical-align: middle;
}

.diplayInfo{
    font-style: italic;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 1em;
}